@model ProductCatalog.ViewModels.CustomersViewModels.EditorCustomerViewModel;    
    
@{    
    ViewData["Title"] = "Create"; 
    Layout = "_Layout";  
}    
<h2>Create</h2>    
<h4>Customer</h4>    
<hr />    
<div class="row">    
    <div class="col-md-4">    
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <div class="form-group">    
                <label asp-for="Name" class="control-label"></label>    
                <input asp-for="Name" class="form-control" />    
                <span asp-validation-for="Name" class="text-danger"></span>    
            </div>    
            <div class="form-group">    
                <label asp-for="Email" class="control-label"></label>    
                <input asp-for="Email" type="email" class="form-control" />    
                <span asp-validation-for="Email" class="text-danger"></span>    
            </div>      
            <div class="form-group">    
                <label asp-for="Telephone" class="control-label"></label>    
                <input asp-for="Telephone" type="tel" class="form-control" />    
                <span asp-validation-for="Telephone" class="text-danger"></span>    
            </div>    
            <div class="form-group">    
                <input type="submit" value="Create" class="btn btn-default" />    
            </div>    
        </form>    
    </div>    
</div>    
<div>    
    <a asp-action="Index">Back to List</a>    
</div>    
@section Scripts {    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}