@model ProductCatalog.ViewModels.CustomersViewModels.EditorCustomerViewModel;   
    
@{    
    ViewData["Title"] = "Delete";
    Layout = "_Layout";   
}    
<h2>Delete</h2>    
<h3>Are you sure you want to delete this?</h3>    
<div>    
    <h4>Customer</h4>    
    <hr />    
    <dl class="dl-horizontal">    
        <dt>    
            Name    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.Name)    
        </dd>    
        <dt>    
            E-mail    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.Email)    
        </dd>    
        <dt>    
            Telephone    
        </dt>    
        <dd>    
            @Html.DisplayFor(model => model.Telephone)    
        </dd>    
    </dl>    
    
    <form asp-action="Delete">    
        <input type="hidden" asp-for="Id" />    
        <input type="submit" value="Delete" class="btn btn-default" /> |    
        <a asp-action="Index">Back to List</a>    
    </form>    
</div>