@model IEnumerable<ProductCatalog.Models.Customer>;
 
       
@{    
        ViewData["Title"] = "Customers";
        Layout = "_Layout";
    }    
<h2>Index</h2>    
<p>    
    <a asp-action="Create">Create New</a>    
</p>    
<table class="table">    
    <thead>    
        <tr>    
            <th>    
                #    
            </th>    
            <th>    
                Name    
            </th>    
            <th>    
                E-mail    
            </th>    
            <th>    
               Telephone    
            </th>    
            <th></th>    
        </tr>    
    </thead>    
    <tbody>    
        @foreach (var item in Model)    
{    
            <tr>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Id)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Name)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Email)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Telephone)    
                </td>    
                <td>    
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>    
                </td>    
            </tr>    
        }    
    </tbody>    
</table>